body {
  user-select: none;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: deepskyblue;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(8, 139, 179);
}
/* end scrollbar */

/* preloader */
#load {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #fff;
  font-size: 22px;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
#load div:nth-child(8) {
  animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
/* end preloader */
.none {
  display: none;
}
.btn-up {
  position: fixed;
  display: none;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
}
.bg-img {
  background-image: url("../img/30094.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.smoke {
  background-image: url("../img/smoke.png");
  opacity: 0.25;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header {
  height: 100vh;
  margin-bottom: 100px;
}

.wrapper {
  width: 85%;
  margin: auto;
}
.logo-padding {
  background-color: rgba(0, 0, 0, 0.555);
  padding: 10px;
  border-radius: 5px;
}
.logo {
  position: relative;
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 28px;
  text-decoration: none;
  transition: 0.2s;
}
.logo:hover {
  color: deepskyblue;
}
.logo::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  right: 0;
  transition: 0.2s;
}
.logo:hover:before {
  width: 100%;
  left: 0;
}
.navigation {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
}
/* glitch effect */

.nav-middle {
  position: relative;
}
.nav-text::before,
.nav-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.nav-text::before {
  color: #2600ff;
  animation: glitch-effect 2.5s infinite;
}
.nav-text::after {
  color: rgb(255, 0, 0);
  animation: glitch-effect 1.5s infinite;
}
@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 2px;
    top: -1px;
  }
}
/* glitch effect */
.nav-links .nav-links-unchor {
  margin-right: 28px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Exo 2";
  position: relative;
  transition: color 0.5s;
}
.nav-links .nav-links-unchor:not(:nth-of-type(4)):hover {
  color: deepskyblue;
}
.nav-links .nav-links-unchor:not(:nth-of-type(4))::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  right: 0;
  transition: 0.2s;
}
.nav-links .nav-links-unchor:hover:before {
  width: 100%;
  left: 0;
}
.nav-links .nav-links-unchor:last-child {
  margin-right: 0;
}
/* burger */
.menu-btn {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  width: 20px;
  height: 2px;
  background: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  transition: 0.1s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}
.menu-btn_active span::before {
  transform: rotate(35deg);
  transform-origin: left bottom;
  width: 10px;
}
.menu-btn_active span::after {
  transform: rotate(-35deg);
  transform-origin: left top;
  width: 10px;
}
/* burger */

/* about me */
.about-me {
  width: 50%;
  margin: 200px auto 0 auto;
  padding: 75px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
}
.about-me h3,
p {
  padding: 0;
  margin: 0;
  font-family: "Exo 2";
}
.about-me h3 {
  font-size: 28px;
}
.about-me h3 span {
  color: deepskyblue;
  font-family: "Source Sans Pro";
}
.about-me p {
  font-size: 20px;
}
.about-me p span {
  color: deepskyblue;
  font-family: "Source Sans Pro";
}
.about-me p {
  margin: 20px 0 20px 0;
}
.awesome-icons a {
  font-size: 28px;
  margin-right: 10px;
  color: deepskyblue;
  transition: 0.2s;
}
.awesome-icons a:first-child {
  color: #fff;
}
.awesome-icons a:first-child:hover {
  color: deepskyblue;
}
.awesome-icons a:hover {
  color: #fff;
}
.awesome-icons a:last-child {
  margin-right: 0;
}
/* about me */
/* scroll */
.scroll {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 300px;
}
.scroll img {
  height: 60px;
  animation: scrollAnimate infinite 1.5s linear;
}
@keyframes scrollAnimate {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* scroll */

/* section skill */
.section {
  width: 85%;
  margin: auto;
}
.skills {
  margin-bottom: 100px;
}
.text-center {
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  color: #fff;
  width: 200px;
  font-family: "Source Sans Pro";
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 10px;
  border-radius: 5px;
}
.skillbar-wrap {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  padding: 40px 15px;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}
.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-family: "Source Sans Pro";
  color: #fff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skillbar-bar {
  height: 35px;
  width: 0;
  background: #6adcfa;
  border-radius: 3px;
}
.skillbar-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 13px;
  height: 35px;
  line-height: 35px;
  color: #000;
  font-family: "Source Sans Pro";
}
/* end section skills */

/* section documentation */
.documentation {
  margin-bottom: 100px;
}
.documentation-wrap {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  padding: 40px 15px;
  display: flex;
  justify-content: space-between;
}
.documentation-short {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.documentation-short .short-title h4 {
  color: #fff;
  font-size: 30px;
  font-family: "Exo 2";
  text-transform: uppercase;
  text-align: center;
}
.documentation-short h3 {
  color: deepskyblue;
  font-size: 28px;
  font-family: "Exo 2";
}
.documentation-short p {
  color: #fff;
  font-size: 18px;
  font-family: "Source Sans Pro";
}
.documentation-short p span {
  color: red;
  font-weight: bold;
}
.documentation-short .border-top {
  width: 30%;
  height: 1px;
  border-radius: 10px;
  margin: 10px 0;
  background: #fff;
}
.documentation-short .border-bottom {
  width: 30%;
  height: 1px;
  border-radius: 10px;
  margin: 10px 0;
  background: #fff;
}
.separater {
  height: 600px;
  width: 5px;
  background: deepskyblue;
}
.documentation-download {
  width: 100%;
}
.documentation-download .short-title h4 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: "Exo 2";
  text-transform: uppercase;
}
.documentation-download .short-title .resume_btn {
  display: flex;
  justify-content: center;
}
/* btn-settings */
.btn-1f {
	overflow: hidden;
}

.btn-1f:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
  background: deepskyblue;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn {
	border: none;
	font-family: inherit;
	font-size: 20px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 60px;
	display: inline-block;
	margin: 50px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn a {
  text-decoration: none;
  color: #000;
  transition: .5s;
}
.btn:hover a {
  color: #fff;
} 
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-1 {
  border: 1px solid #fff;
  border-radius: 10px;
  font-family: "Exo 2";
	color: #000;
}

.btn-1f:hover,
.btn-1f:active {
  color: #fff;
  border: 1px solid black;
}

.btn-1f:hover:after {
  height: 100%;
  width: 100%;
	opacity: 1;
}

.btn-1f:active:after {
	height: 130%;
	opacity: 1;
}
/* end btn-settings */
/* end section documentation */

/* section contacts */
.contacts {
  margin-bottom: 100px;
}
.contact-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  padding: 40px 15px;
}
.contacts-form {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  border-radius: 5px;
  padding: 50px 30px;
  background-color: #fff;
  margin-bottom: 20px;
}
.contacts-form:last-child {
  margin-bottom: 0;
}
.contacts-form p {
  font-size: 20px;
  font-family: "Source Sans Pro";
}
.contacts-form p a {
  position: relative;
  font-size: 28px;
  margin-right: 20px;
  color: deepskyblue;
}
.contacts-form p a:last-child {
  margin-right: 0;
}
.contacts-form p a::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 0;
  bottom: 0;
  right: 0;
  transition: 0.2s;
}
.contacts-form p a:hover:before {
  left: 0;
  width: 100%;
}
.contacts-form:last-child span {
  font-size: 30px;
  color: deepskyblue;
}
.contacts-form__bar {
  display: flex;
  flex-direction: column;
}
.contacts-form__bar span {
  font-size: 24px;
  font-family: "Source Sans Pro";
  margin-bottom: 20px;
  text-transform: capitalize;
}
.contacts-form__bar i {
  text-align: center;
  font-size: 24px;
}
/* glitch effect */
.middle {
  position: relative;
}
.text::before,
.text::after {
  content: attr(data-text);
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.text::before {
  color: #2600ff;
  animation: glitch-effect 2.5s infinite;
}
.text::after {
  color: rgb(255, 0, 0);
  animation: glitch-effect 1.5s infinite;
}
@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 2px;
    top: -1px;
  }
}
/* end glitch effect */
/* end section contacts */

/* section portfolio */
.portfolio {
  margin-bottom: 100px;
}
.portfolio-wrapp {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  padding: 40px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 10px 10px 0;
}
.portfolio-box:hover .portfolioBox__content button {
  opacity: 1;
}
.portfolio-box:hover .portfolioBox__content .content-title {
  opacity: 1;
}
.portfolio-box:hover .portfolioBox__content {
  background: transparent;
}
.portfolio-box img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.portfolioBox__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: 0.2s;
}
.portfolioBox__content button {
  transition: 0.2s;
  padding: 10px 15px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  opacity: 0;
}
.portfolioBox__content button:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
}
.portfolioBox__content button a {
  transition: 0.2s;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Exo 2";
}
.portfolioBox__content button:hover a {
  color: #000;
}
.portfolioBox__content .content-title {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  transition: 0.2s;
  font-family: "Exo 2";
}
/* end section portfolio */

/* section contact-width-me */
.contact-form-wrap {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  padding: 40px 15px;
}
/* section contact-width-me */

/* footer */
.footer {
  margin-bottom: 10px;
}
.footer-wrap {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer-wrap p {
  font-family: "Exo 2";
  color: deepskyblue;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-socials {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
}
.footer-socials span {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* end footer */

